:root {
    --color__primary: rgb(41, 191, 255);
    --color__secondary: #fe692a;
    --color__primary-variant: rgba(41, 190, 254, 0.5);
    --color__secondary-variant: rgba(254, 105, 42, 0.5);
    --color__bg: rgb(10, 25, 47);
    --color__white: rgb(255, 255, 255);
    --color__white-variant: rgba(255, 255, 255, 0.7);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
