:root {
    /* colors */
    --color__primary: rgb(41, 191, 255);
    --color__secondary: #fe692a;
    --color__primary-variant: rgba(41, 190, 254, 0.2);
    --color__secondary-variant: rgba(254, 105, 42, 0.2);
    --color__bg: rgb(10, 25, 47);
    --color__white: rgb(226, 226, 226);
    --color__white-variant: rgba(255, 255, 255, 0.7);

    /* fonts */
    --font__lg: 5rem;
    --font__md: 2.5rem;
    --font__sm: 1.5rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    letter-spacing: 1.7;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
    background: var(--color__bg);
    font-size: 10px;
}

a {
    text-decoration: none;
    color: var(--color__white-variant);
}

a:hover {
    color: var(--color__primary);
}

li {
    list-style-type: none;
}
